<p>External WIFI Portal</p>
<!-- <p><strong>clientMac:</strong>{{inputData.clientMac}}</p>
<p><strong>clientIp:</strong>{{inputData.clientIp}}</p>
<p><strong>apMac:</strong>{{inputData.apMac}}</p>
<p><strong>site:</strong>{{inputData.site}}</p>
<p><strong>ssidName:</strong>{{inputData.ssidName}}</p>
<p><strong>t:</strong>{{inputData.t}}</p>
<p><strong>redirectUrl:</strong>{{inputData.redirectUrl}}</p>
<p><strong>radioId:</strong>{{inputData.radioId}}</p>
<br/> -->

<mat-toolbar color="primary"> Responsive Card Grid </mat-toolbar>
<div class="container responsive-grid">
    <mat-card *ngFor="let card of voucherCards()">
        <mat-card-header>
          <mat-card-title>{{ card.voucher.vuid }} - {{ card.voucher.type }} </mat-card-title>
        </mat-card-header>
        <br />
        <img mat-card-image [src]="card.urlImagen" />
        <mat-card-content>
          <br />
          <p>{{ card.voucher.data.timeUnit }} {{ card.voucher.data.value }}</p>
          <p>{{card.voucher.price.currency}} {{card.voucher.price.cost}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>BUY</button>
        </mat-card-actions>
      </mat-card>    
</div>

<!-- <button (click)="btnIngresar()">Ingresar</button> -->

